body {
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #fff3e0;

}
.container {
    background-color: #f09c1d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
    border: 5px solid #ff5722;
}
h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.form {
display: flex;
flex-direction: column;
align-items: center;
}
label {
    font-weight: bold;
    margin-bottom: 10px;
}
input {
    padding: 8px;
    border: 3px solid #9c27b0;
    border-radius: 6px;
    width: 100%;
    max-width: 300px;
}
button {
    background-color: #bff812;
    color: rgba(0, 0, 0, 1);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}
button:hover {
    background-color: #e65100;
}
#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}